hr.lg-hide
.px2.col.col-12.md-col-4.lg-col-12
    h3 Friends
    ul.p0.list-reset
        li
            a(href='http://elizabethdelrosario.com/') Elizabeth Del Rosario
        li
            a(href='http://spencer-hawkins.com/') Spencer Hawkins
.px2.col.col-12.md-col-4.lg-col-12
    h3 Contact me
    form
        label(for='email') Your Email
        input#email.block.field.col-12(name='email', type='email')
        label(for='message') Message
        textarea#message.block.field.col-12(name='message')
        input.btn.btn-primary.mt1(type='submit')
