hr.lg-hide
.px2.col.col-12.md-col-4.lg-col-12
    h3 Friends
    ul.p0.list-reset
        li
            a(href='http://elizabethdelrosario.com/') Elizabeth Del Rosario
        li
            a(href='http://spencer-hawkins.com/') Spencer Hawkins
.px2.col.col-12.md-col-4.lg-col-12
    h3 Contact me
    form(action="https://emailsender-deslee.rhcloud.com/", method="post")
        input(hidden type="text" value="")
        label(for='email') Your Email
        input#email.block.field.col-12(name='email', type='email', required)
        label(for='message') Message
        textarea#message.block.field.col-12(name='message', required)
        input.btn.btn-primary.mt1(type='submit' value="Submit")
