@import "./style/main-nav";
@import "./style/header-logo";

.post:last-child {
    border-bottom: none;
}

pre {
    word-wrap: break-word;
    overflow-x: auto;
}

@media (--breakpoint-md) {
    .btn.md-no-active-box-shadow:active {
        box-shadow: none;
    }
    .md-no-hover-box-shadow:hover {
        box-shadow: none;
    }
}

.hidden {
    visibility: hidden;
}

html {
    background: var(--silver);
}

body {
    background: var(--white);
    min-height: 100vh;
    transition: margin-top 300ms;
    box-shadow: 0 10px 10px 1px #888;
}

pre {
    background-color: #efefef;
    overflow-x: auto;
    padding: 1em;
    border-radius: .5em;
    margin-bottom: var(--paragraph-margin-bottom);
}