doctype html
html
    head
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(charset="utf-8")
        if base
            base(href=base)
        | <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300|Open+Sans:300' rel='stylesheet' type='text/css'>
        | <link rel="stylesheet" href="css/style.css">
        | <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    block body