extends ./index.jade

block body
    body(style={height: '100vh'}).container.flex.flex-column
        div.clearfix.flex-grow
            header.px2.col.col-12.md-col-3.center.md-left
                a(href="")
                    img(src=logo).header-logo.circle.block
                h1 #{title}

                nav
                    ul.col-12.p0.list-reset.inline-block.clearfix.blue
                        each item in nav
                            li.py1.pl0.pr0.md-no-hover-box-shadow.md-no-active-box-shadow.block.col-12.btn.btn-outline.not-rounded.y-group-item.regular.white.main-nav-item
                                a(href=item.href).block #{item.name}

                include ./includes/slogan.jade

            main(role="main").px2.col.col-12.md-col-9.lg-col-6
                block main
                    p main

            section.col.col-12.lg-col-3
                include ./includes/sidebar.jade

        footer.gray.left-align.p2
            section Desmond Lee © 2015